/* Custom styles for the frontend view. */

div.wp-block-gravatar-block.gravatar-block {
	display: flex;
	flex-direction: column;
	gap: 16px;

	.gravatar-block-group {
		display: flex;

		&.gravatar-block-group--vertical-alignment {
			flex-direction: column;
		}

		&.gravatar-block-group--align-center {
			align-items: center;
		}

		&.gravatar-block-group--header {
			gap: 10px;
		}

		&.gravatar-block-group--footer,
		&.gravatar-block-group--verified-accounts {
			gap: 8px;
		}
	}
}
